* {

    text-align: center;
   font-family: "Noto Sans", sans-serif;

    }
.download {
        position: fixed;
        top: 10px;
        right: 10px;
        border-radius: 4px;
        background-color: purple;
        color:white;
        border: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin: 4px 2px;
        padding: 15px 32px;
    }
.hugface{
    position: fixed;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    top: 10px;
    right: 150px;
}