/.venv
/.vscode
/venv
/webenv
/.pytest_cache
/myenv
**/__pycache__/

/app/.env
/app/models
/app/logs
/app/offload
/app/__pycache__
/app/.pytest_cache
/app/test/__pycache__
/app/lib

/app/l3m/__pycache__

/app/test/__pycache__
/app/test/.pytest_cache

/installer/output

/webServer/backend/__pycache__
/webServer/backend/.env
/webServer/public/

/appenv

/releases