<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet"  type="text/css" href ="{{ url_for('static', filename='aboutStyles.css') }}">
    <title>L3M</title>
   <h1>About Us</h1> 
</head>

<body>
   <p> L3M aims to promote democratization of generative AI models. We are a team of students at 
Stevens Institute of technology working to create a product that will allow users to download and use open source
large language models with ease. We are a team of software engineering majors who want to improve accessibility and security of LLMs.</p>
    
</body>
<button id = "Downlaodbtn" onclick = "downloadFile()" class = "download">Download
</button>
<a href="/">
    <button class="hugface"> Hugging Face Models</button> 
 </a>
<header>
    <h1>Project Description</h1>
</header>
    <p>We want to create a new generative AI model that can be stored as an application on personal
 computers. This would increase security for LLMs since there would be no broadband connection
 between a company server hosting the AI program and the computer the prompt was entered from.
 Current AI models consume too much energy and are reliable on an internet connection, which is
 something we hope to eliminate with our project. Our priorities for this project are to enable this
 AI to help users with everyday office tasks and train them to achieve different tasks. Businesses
 could have their own dedicated generative large language models without relying on services like
 Open AI to be active 24/7. In addition, we created an installer that enables users to download
 pre-trained models to access their different needs.</p>
<header>
    <h1>Mission Statement</h1>
</header>
<p>To create an easy installation package for a locally hosted large language model for personal and
business use, to promote the security and democratization of LLM AI.</p>
</html>

<script>
    async function downloadFile(){
        try {
         const response = await fetch("http://localhost:3000/download");
         if (!response.ok) { 
            throw new Error("Network response was not ok " + response.statusText); 
        } 
        const blob = await response.blob(); 
        const url = window.URL.createObjectURL(blob); 
        const a = document.createElement("a"); 
        a.style.display = "none"; 
        a.href = url; 
        a.download = "lorem.txt"; // Set the desired file name here
         document.body.appendChild(a); 
        a.click();
    }
    catch(error)
    {
        console.error(error.message)
    }
}
</script> 